<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>bitbucket.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.atrenko.launchbar.BitBucket.lbaction</string>
	<key>CFBundleName</key>
	<string>Bitbucket</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Jan Sabbe</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBSummary</key>
		<string>Allows you to quickly navigate to a repository, and copy the ssh clone url</string>
		<key>LBTwitter</key>
		<string></string>
		<key>LBWebsiteURL</key>
		<string>http://www.atrenko.com</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
</dict>
</plist>
